body{
    background: #FAFAFA;
    font-size: 1.8rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 8rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.loading{
    font-size: 3rem;
}